<h1> POST LIST </h1>
{{#each posts}}
    <h1>{{dataValues.titulo}}</h1>
    <p>{{dataValues.conteudo}}</p>
    <a href = "/delete/{{dataValues.id}}"><button> DELETE </button> </a>
    <hr>
{{/each}}
<a href = "/signup"> <button> CREATE A POST </button> </a>